.left {
    position: absolute;
}

.library-navbar {
    background-color: lightblue;
}

.library-navbar-ul li {
    display: inline;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: grey;
}